﻿<h1>Welcome to the Game!</h1>
<ul>
    <li *ngFor="let game of games" class="blue-stuff"
[class.red-stuff]="game === selectedGame"
(click)="selectGame(game)">{{game.TeamOne}} (<span *ngIf="game.Line > 0">+</span>{{game.Line}}) {{game.TeamTwo}}</li>
</ul>
<my-game-detail [game]="selectedGame"></my-game-detail>