﻿<div *ngIf="currentTournament">
<h1>Welcome to King of the Hill {{currentTournament.Year}}</h1>
<div>
    <my-tournament-display [currentTournament]="currentTournament">Getting Tournament</my-tournament-display>
</div>
    <a routerLink="/tournamentsetup">Setup Tournament</a>
    <router-outlet></router-outlet>
</div>