﻿<div *ngIf="currentTournament">
    <h1 >{{currentTournament.Year}} Tournament</h1>
    <div class="Row">
        <div class="col-md-3" *ngFor="let region of ['Midwest','South','West','East']">
            <h2>{{region}}</h2>
            <div *ngFor="let team of currentTournament.TournamentTeams | regionfilter:region">
                {{team.Seed}}. {{team.Team.Name}}
            </div>
        </div>
    </div>
</div>