﻿<div *ngIf="currentTournament">
<h1>Set Up the Tournament</h1>
<div class="Row">
    <div class="col-md-12">
        <h2>Enter {{currentTournament.Year}} Field</h2>
    </div>
    </div>
<div class="Row">
    <div class="col-md-3" *ngFor="let region of ['Midwest','South','West','East']">
        <h2>{{region}}</h2>
        <div *ngFor="let seed of seeds">
            {{seed}}. <select>
                <option *ngFor="let team of teams">{{team.Name}}</option>
            </select>
        </div>

    </div>
</div>
<div>
    <my-tournament-display [currentTournament]="currentTournament">Getting Tournament</my-tournament-display>
</div>
</div>